[submodule "DataManager"]
	path = DataManager
	url = git@github.com:AlirezaMahDev/DataManager.git
[submodule "FileService"]
	path = FileService
	url = git@github.com:AlirezaMahDev/FileService.git
[submodule "PersianTimestamp"]
	path = PersianTimestamp
	url = git@github.com:AlirezaMahDev/PersianTimestamp.git
[submodule "ParameterInstance"]
	path = ParameterInstance
	url = git@github.com:AlirezaMahDev/ParameterInstance.git
