on:
  workflow_dispatch:
  push:
    tags: 
      - v*.*.*
 
name: push packages to nuget

jobs:
  build:
    environment: production
    permissions:
      contents: read
      packages: write
    name: build step
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      
      - name: Setup.NET
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: '10.x.x'

      - name: build
        run: dotnet build --configuration Release

#      - name: test
#        run: dotnet test --no-build --verbosity normal'

      - name: pack
        run: dotnet pack --configuration Release --include-source --include-symbols --output .nuget

      - name: NuGet Login
        id: nuget
        uses: NuGet/login@v1
        with:
          user: ${{ github.repository_owner }}

      - name: push to nuget
        run: dotnet nuget push --source nuget .nuget/*.nupkg --skip-duplicate --api-key ${{ steps.nuget.outputs.NUGET_API_KEY }}

      - name: push to github
        run: dotnet nuget push --source github .nuget/*.nupkg --skip-duplicate --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json --api-key ${{ github.token }}
